package templates

templ DonationRequest() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Donation Requests</title>
    </head>
    <body>
        <header>
            <h1>Donation Requests</h1>
        </header>
        <main>
            <section>
                <h2>List of donation requests</h2>
                <ul>
                    <li>Request 1 - Status: Pending</li>
                    <li>Request 2 - Status: Approved</li>
                    <li>Request 3 - Status: Completed</li>
                </ul>
            </section>
        </main>
    </body>
    </html>

}